.css-ahj2mt-MuiTypography-root {
    margin: 0;
    font-family: "Mukta";
    font-weight: 400;
    font-size: 14px !important;
    color: #8F8F98;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}