.header-box {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }