.container {
  display: flex;
  height: 200px;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cloud {
  height: 90px;
  animation: clouds 10s ease-in reverse infinite;
}

.cloud2 {
  height: 70px;
  animation: clouds 5s ease-in-out infinite;
}

.cloud3 {
  height: 60px;
  animation: clouds 6s ease-in reverse infinite;
}

.plane {
  height: 100px;
  animation: bob 2s ease-in infinite;
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes clouds {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(400px);
  }
}